<h1>Listing object_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @object_categories.each do |object_category| %>
  <tr>
    <td><%= object_category.name %></td>
    <td><%= object_category.description %></td>
    <td><%= link_to 'Show', object_category %></td>
    <td><%= link_to 'Edit', edit_object_category_path(object_category) %></td>
    <td><%= link_to 'Destroy', object_category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Object category', new_object_category_path %>
