<p id="notice"><%= notice %></p>

<p>
  <b>Object category:</b>
  <%= @known_object.object_category_id %>
</p>

<p>
  <b>Name:</b>
  <%= @known_object.name %>
</p>

<p>
  <b>Description:</b>
  <%= @known_object.description %>
</p>


<%= link_to 'Edit', edit_known_object_path(@known_object) %> |
<%= link_to 'Back', known_objects_path %>
